.sidebar{
  bottom:0;
  position:fixed;
  top:64px;
  bottom:0;
  left:0;
  width:150px;
  border-color:rgb(211, 203, 203);
  border-width:1px;
  border-style:solid;
  z-index:9999;
  background-color:white;
  display:grid;
  grid-template-rows:1fr 1fr 1fr 1fr;
  row-gap:10px;
}
.enter,
.dash-board,
.ipo,
.trending-news{
  border-radius:6px;
  border-width:0;
  border-color:lightgray;
  border-style:solid;
  cursor:pointer;
  padding-left:5px;
}
.enter:hover,
.dash-board:hover,
.ipo:hover,
.trending-news:hover{
  background-color:lightgray;
  margin-bottom:10px;
  margin-right:5px;
  margin-left:5px;
}